.cards{
  display: grid;
  grid-template-columns: repeat(3,282px);
  grid-template-rows: 361px 361px;
  gap: 18px;
}
@media screen and (max-width:888px) {
  .cards{
  grid-template-columns: repeat(2,282px);
  grid-template-rows: repeat(3,362px);
  }
  }
  @media screen and (max-width:600px) {
    .cards{
    grid-template-columns: 282px;
    grid-template-rows: repeat(6,362px);
    }
    }